# Creando una Base de Datos con AWS 

Cree una DB postgres y ahora me conectare, pude haber puesto como tal la contraseña en texto plano pero dado que es notebook publico usare Secrets Manager

## Obteniendo las credenciales

In [1]:
import boto3

In [2]:
# This is where is the Secret located
secret_name = "postgres_password"
region_name = "us-east-1"
# Login with AWS
session = boto3.session.Session()
client = session.client(
        service_name='secretsmanager',
        region_name=region_name
    )
# Obtaining the Secret
get_secret_value_response = client.get_secret_value(
            SecretId=secret_name
        )

## Conectandose a la DB

In [3]:
import psycopg2
import json

In [4]:
args = json.loads(get_secret_value_response['SecretString'])

In [5]:
conn = psycopg2.connect(user = args['username'],
                       password = args['password'],
                       host = args['host'],
                       database='transporte')

In [6]:
c = conn.cursor()

In [7]:
c.execute('SELECT * FROM tren WHERE capacidad > 900')

In [8]:
for i in c.fetchall():
    print(i)

(5, 'Roadrunner', 972)
(29, 'Pajero', 979)
(35, 'MR2', 925)
(36, 'Montero Sport', 929)
(69, '1500', 976)
(73, 'SX4', 955)
(98, 'Bronco', 991)
(120, 'S-Type', 932)
(129, 'Equinox', 923)
(131, 'G5', 964)
(132, 'Nitro', 941)
(137, 'Electra', 920)
(148, 'Grand Vitara', 919)
(160, 'Caprice', 963)
(165, 'Sorento', 919)
(173, 'F350', 964)
(183, 'M', 995)
(190, 'Sierra 1500', 933)
(193, 'Baja', 915)
(195, 'Phantom', 948)
(196, 'Taurus', 943)
(203, 'Rockette', 904)
(209, 'Paseo', 963)
(214, 'Pathfinder', 921)
(215, 'G55 AMG', 945)
(240, 'Highlander', 987)
(244, '3 Series', 985)
(246, 'X-Type', 999)
(249, 'Explorer', 1000)
(258, '62', 974)
(268, '3500', 978)
(270, 'Golf', 952)
(279, 'Venza', 997)
(283, 'Eclipse', 921)
(286, 'Bronco', 953)
(289, 'Focus', 943)
(291, 'Flex', 981)
(292, 'E250', 914)
(302, 'LS', 956)
(321, 'Fusion', 909)
(322, 'Corvette', 993)
(326, 'Achieva', 986)
(341, 'S60', 945)
(342, 'Sequoia', 920)
(344, 'Century', 987)
(357, 'Accent', 929)
(368, 'Accord', 919)
(378, 'Ram 3500', 969)
(398, 'Focus', 971)
(408, 'R-Class', 933)
(426, 'Spyder', 922)
(428, 'Diablo', 991)
(443, 'E-Class', 906)
(445, 'Fit', 931)
(449, 'Sable', 992)
(452, 'Vibe', 999)
(466, 'RX-7', 981)
(482, 'Continental', 905)
(502, 'Suburban 1500', 968)
(506, 'Grand Marquis', 942)
(508, '9000', 931)
(509, '5000S', 956)
(540, 'Skyhawk', 946)
(547, 'Highlander', 953)
(558, 'Cobalt SS', 990)
(566, 'Turbo Firefly', 981)
(568, 'Neon', 902)
(573, 'Pacifica', 942)
(579, 'Regal', 952)
(588, 'Fiesta', 952)
(596, 'NSX', 930)
(601, 'G', 957)
(614, 'X5', 919)
(615, 'Altima', 932)
(626, 'MPV', 954)
(640, 'Matrix', 932)
(643, 'W201', 991)
(652, 'Prizm', 942)
(654, 'Ram 1500 Club', 952)
(666, 'Prius', 991)
(667, 'S40', 960)
(679, 'Sable', 941)
(686, 'Colt', 909)
(690, 'Fox', 991)
(701, 'Sonata', 963)
(710, 'XK Series', 945)
(713, '9000', 1000)
(721, 'Grand Voyager', 997)
(722, 'Tiburon', 967)
(727, 'Grand Prix', 970)
(746, 'Pathfinder', 946)
(759, 'Skylark', 929)
(760, 'Summit', 963)
(762, 'A6', 999)
(774, 'LS', 912)
(788, 'Alero', 914)
(795, 'Yukon XL 2500', 940)
(800, '200SX', 929)
(816, 'Passat', 961)
(818, 'RX-7', 903)
(836, 'Mighty Max', 931)
(838, 'Stratus', 925)
(847, 'Cayman', 1000)
(849, 'Accord', 958)
(853, 'GTI', 922)
(864, 'LeMans', 945)
(873, 'XC90', 944)
(874, 'F250', 959)
(886, 'Accent', 998)
(905, 'Golf', 902)
(907, '9-7X', 940)
(910, 'RX Hybrid', 980)
(931, 'S60', 911)
(939, 'TT', 979)
(943, 'Sentra', 951)
(950, 'DeVille', 986)
(952, 'W201', 904)
(964, 'SL-Class', 907)
(969, 'F250', 980)
(978, 'Amigo', 989)
(984, 'Silverado 1500', 968)
(986, 'Matrix', 984)

## Añadir nuevos modelos

In [9]:
nuevo_modelo = input("Nombre del carro: ")

Nombre del carro: Polo

In [10]:
capacidad = int(input("Capacidad: "))

Capacidad: 400

In [11]:
statement = f"INSERT INTO tren(modelo, capacidad)VALUES ('{nuevo_modelo}', {capacidad})"

In [12]:
c.execute(statement)

In [13]:
conn.commit()

### Comprobamos que funciona

In [14]:
c.execute(f'SELECT * FROM tren WHERE capacidad = {capacidad}')

In [15]:
c.fetchall()

[(892, 'Bonneville', 400), (1004, 'Polo', 400)]