# Regresion matricial

In [1]:
import pandas as pd
import numpy as np

In [2]:
x_1 = [3.5,6.7,1.5,0.3,4.6,2]
x_2 = [5,4.2,8.5,1.4,3.6,1.3]
y = [25,30,11,22,27,19]

In [4]:
df = pd.DataFrame({'x1':x_1,'x2':x_2,'y':y})

In [5]:
df

    x1   x2   y
0  3.5  5.0  25
1  6.7  4.2  30
2  1.5  8.5  11
3  0.3  1.4  22
4  4.6  3.6  27
5  2.0  1.3  19

In [6]:
X = pd.DataFrame()

X['1'] = np.ones(df.shape[0])
X['x1'] = df['x1']
X['x2'] = df['x2']

In [9]:
X = X.values

In [10]:
X_tran = X.T

In [11]:
A = np.matmul(X_tran,X)

In [12]:
A_inv = np.linalg.inv(A)

In [13]:
p = np.matmul(A_inv,X_tran)

In [14]:
ans = np.matmul(p,y)

In [15]:
f = lambda x1,x2: ans[0] + ans[1]*x1+ans[2]*x2

In [16]:
yp = f(df['x1'],df['x2'])

In [17]:
sse = ((y - yp) ** 2).sum()
sse

39.11975495490461

In [18]:
y_bar = df['y'].mean()

In [19]:
ssr = ((yp - y_bar) ** 2).sum()
ssr

188.21357837842854

In [21]:
sst = ((df['y'] - y_bar) ** 2).sum()
sst

227.33333333333337

In [22]:
n = df.shape[0]
k = df.shape[1]

In [23]:
np.sqrt(sse/((n-(k+1))))

4.42265502582468

In [25]:
fisher = (ssr/2)/ (sse/2)
fisher

4.811215678508012